blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-Admin==1.6.1
Flask-PyMongo==2.3.0
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pymongo==4.2.0
typing_extensions==4.12.2
Werkzeug==3.0.3
WTForms==3.1.2

# import os
# from flask import Flask, render_template, request, redirect
# from flask_pymongo import PyMongo

# app = Flask(__name__)

# # Set up MongoDB URI based on environment
# if os.getenv('FLASK_ENV') == 'development':
#     # Local development MongoDB URI
#     app.config['MONGO_URI'] = os.environ.get('MONGO_URI', 'mongodb://localhost:27017/my_flask_app_db')
# else:
#     # Kubernetes MongoDB URI (use Kubernetes DNS resolution)
#     app.config['MONGO_URI'] = os.environ.get('MONGO_URI', 'mongodb://mongo.default.svc.cluster.local:27017/my_flask_app_db')

# mongo = PyMongo(app)

# @app.route('/')
# def index():
#     return render_template('feedback_form.html')

# @app.route('/submit_feedback', methods=['POST'])
# def submit_feedback():
#     name = request.form['name']
#     email = request.form['email']
#     message = request.form['message']
#     number = request.form['number']

#     feedback = {
#         'name': name,
#         'email': email,
#         'message': message,
#         'number': number
#     }
    
#     mongo.db.feedback.insert_one(feedback)
    
#     return redirect('/success')

# @app.route('/success')
# def show_success():
#     return render_template('success.html')

# if __name__ == '__main__':
#     app.run(debug=True)
